<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruimind.gis.mapper.TbAccountMapinfoCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruimind.gis.dto.TbAccountMapinfoCodeDTO">
        <id column="account_mapinfo_id" property="accountMapinfoId" />
        <result column="account_id" property="accountId" />
        <result column="mapinfo_id" property="mapinfoId" />
        <result column="role_id" property="roleId" />
        <result column="create_time" property="createTime" />
        <result column="create_userid" property="createUserid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        account_mapinfo_id, account_id, mapinfo_id, role_id, create_time, create_userid
    </sql>

</mapper>
