<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruimind.gis.mapper.TbLogCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruimind.gis.dto.TbLogCodeDTO">
        <id column="log_id" property="logId" />
        <result column="log_ip" property="logIp" />
        <result column="log_context" property="logContext" />
        <result column="log_datetime" property="logDatetime" />
        <result column="login_status" property="loginStatus" />
        <result column="log_type" property="logType" />
        <result column="log_operate_userid" property="logOperateUserid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, log_ip, log_context, log_datetime, login_status, log_type, log_operate_userid
    </sql>

</mapper>
