<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruimind.gis.mapper.TbUserNameHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruimind.gis.dto.TbUserNameHistoryDTO">
        <id column="user_name_history_id" property="userNameHistoryId" />
        <result column="user_id" property="userId" />
        <result column="starttime" property="starttime" />
        <result column="user_name" property="userName" />
        <result column="endtime" property="endtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_name_history_id, user_id, starttime, user_name, endtime
    </sql>

</mapper>
